/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* google fonts */
@import url(http://fonts.googleapis.com/css?family=Muli);
@import url(http://fonts.googleapis.com/css?family=Reenie+Beanie);
@import url(http://fonts.googleapis.com/css?family=Droid+Sans);

/* Global Reset */
* 
{
  margin: 0;
  padding: 0;
}

html, body
{
  height: 100%;
}

body 
{
  background: white url(http://www.ganz-sicher.net/blog/images/stripesbg.png);
  font: 13.34px helvetica, arial, clean, sans-serif;
  *font-size: small;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 
{
  font-size: 100%;
}

h1 
{
  margin-bottom: 1em;
}

h3
{
 font-size: 1.5em;
 font-family: "myriad-pro-1","myriad-pro-2",sans-serif;
}

p
{
  margin: 0.5em 0;
}

a, a:link 
{
  color: rgb(6, 69, 173);
  text-decoration: none;
}

a:hover 
{
  color: black;
}

/*
a:visited 
*/
{
  color: #222266;
}

table 
{
  font-size: inherit;
  font: 100%;
}

* img a, * img a:link, * img a:visited;
{
   border: none;
}

ul
{
   margin-left: 15px;
}

#egobox {
	float: right;
	top: 5px;
	right: 15px;    
	opacity: 0.5;
	display: none;
}

#toolbox
{
	position: absolute;
	top: 5px;
	left: 15px;    
	opacity: 0.5;
	display: none;
}

#feedbacklink
{
	color: black;
	text-decoration: none;
	background-color: whiteSmoke;
	font: 20px 'Reenie Beanie', arial, serif;
	vertical-align: middle;
	padding: 3px;
	-moz-border-radius: 3px; /* Firefox */     
	-webkit-border-radius: 3px; /* Safari, Chrome */     
	-khtml-border-radius: 3px; /* Konqueror */;
	border-radius: 3px /* opera */;
	border: 1px dashed orangeRed;
	font-style: italic;
}

	#stalknote
	{
		color: #666;
		font-style: italic;
		font: 18px 'Reenie Beanie', arial, serif;
		position: relative;
	}

#stalknote {

    top: -10px;
}


#feedbacklink
{
	position: relative;
	top: -10px;
}

#toolbox #toolboxnote
{
	top: 3px;
}


/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/

ul.posts
{
  list-style-type: none;
  margin-bottom: 2em;
}
#home ul.posts
{
	margin:0;
}

  ul.posts li 
  {
    line-height: 1.75em;
  }

  ul.posts span, #archivehighlight span
  {
    color: #aaa;
    font-family: Monaco, "Courier New", monospace;
    font-size: 80%;
  }
  
  
/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

.site 
{
  font-size: 110%;
  text-align: justify;
  width: 70em;
  margin: 1em auto;
  line-height: 1.5em;
  background-color: white;
  padding: 20px;
  border-left: 2px solid whitesmoke;
  -moz-border-radius: 5px; /* Firefox */     
  -webkit-border-radius: 5px; /* Safari, Chrome */     
  -khtml-border-radius: 5px; /* Konqueror */;
  border-radius: 5px /* opera */;
  box-shadow: 3px 0pt 3px rgba(0, 0, 0, 0.1);
}

  .site a.extra 
  {
    color: #aaa;
    text-decoration: none;
    border-left: 1px dotted #ccc;
    padding-left: 4px;
  }

  .site a.extra:hover 
  {
    color: black;
    text-decoration: underline;
  }

  .site .meta 
  {
    color: #aaa;
  }

  .site .footer 
  {
    font-size: 80%;
    color: #666;
    border-top: 4px solid #eee;
    margin-top: 2em;
    overflow: hidden;
    text-align: center;
    font-style: italic;
  }

    .site .footer .contact 
    {
      float: left;
      margin-right: 3em;
    }

      .site .footer .contact a 
      {
        color: #8085C1;
      }
      

	/*  blog homepage */
      .nice
      {
		font-family: 'Muli', sans-serif;		
      }
	  .nicehead
	  {
		margin: 15px 0;
		padding: 3px;
		background: #f5f5f5;
		border-bottom: 1px dotted #666;
	  }
	  .niceinfo
	  {
		font-style: italic;
		color: #aaa;
		margin-left: 0.5em;
		font-size: 13px;
	  }

	.blogexcerpt
	{
		margin-bottom: 25px;
	}
	#home .bighead
	{
		line-height: 1.2;
		margin: 0.3em 0 5px;
		text-shadow: none !important;
		color: black;
		text-decoration: none;
		font-size: 22px;
	}
	
	#archivehighlight 
	{
		border: 1px dashed #E6E6E6;
		border-left: none;
		border-right: none;
		margin: 0;
		padding: 0;
	}
	
	.date 
	{
		font-size: 12px;
		font-style: italic;
		border-top: 2px solid #CCC;
		padding-left: 3px;
		margin-left: 10px;
		float: right;
		background-color: whiteSmoke;
		color: #555;
	}
	.date:after
	{
		clear: right;
	}

	#articleinfo 
	{
		font-family: 'Muli', sans-serif;
		font-size: 11px;
		padding: 2px 15px 2px 35px;
		margin: 0;
		-moz-border-radius: 2px; /* Firefox */       
		-webkit-border-radius: 2px; /* Safari, Chrome */       
		-khtml-border-radius: 2px; /* Konqueror */;  
		border-radius: 2px /* opera */;
		background: #F8F8F8 url(http://ganz-sicher.net/blog/images/icons/arrow_right.png);
		background-repeat: no-repeat;
		background-position: 10px 0px;
	}

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

  #post pre 
  {
    background-color: #2E3436;
    color: #D3D7CF;
    padding: 0 .4em;
    overflow: auto;
    margin-bottom: 15px;
	-moz-border-radius: 5px; /* Firefox */       
	-webkit-border-radius: 5px; /* Safari, Chrome */       
	-khtml-border-radius: 5px;; /* Konqueror */  
	border-radius: 5px; /* opera */
  }

  #post ul,
  #post ol 
  {
    margin-left: 1.35em;
    margin-bottom: 15px;
  }

  #post code 
  {
    border: 1px solid #ddd;
    font-size: 85%;
    padding: 0 .2em;
  }

    #post pre code 
    {
      border: none;
   }

  /* terminal */

  #post pre.terminal 
  {
    border: 1px solid black;
    background-color: #333;
    color: white;
  }

  #post pre.terminal code
  { 
    background-color: #333;
  }

	
	/* headings*/
	
	#prepost h1, .bighead
	{
		font-size: 34px;
		line-height: 1.2;
		margin: 0.3em 0 5px;
		text-shadow: silver 2px 2px 4px;
		text-align: left;
		font-family: 'Droid Sans', sans-serif;
	}
         .bighead{
            font-size: 24px;
         }

	#post h1	
	{
		font-size: 23px;
		line-height: 1.3;
		margin: 1em 0 .1em;
		font-family: 'Muli', sans-serif;
	}

#related 
{
  margin-top: 2em;
}

  #related h2 
  {
    margin-bottom: 1em;
  }
  
	ul.enums
	{
	    list-style-type: circle;
	}

	  .enums ul li
	  {
			display: list-item;
			text-align: -webkit-match-parent;
	  }

blockquote 
{
  font: 14px/22px normal helvetica, sans-serif;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 50px;
  padding-left: 15px;
  border-left: 3px solid #ccc;
}

img.borderimg
{
	border-width:1px;
	border-style:solid;
	border-color:#d9d8d8;
	padding: 7px;
	margin: 5px;
	background: white;
	max-width: 750px;
}

img.centered
{
	display: block;
    margin-left: auto;
    margin-right: auto
}

img.lefticon
{
	float: left;
	margin-right: 15px;
}
img.lefticon:after
{
	clear: left;
}

img.righticon
{
	float: right;
	margin-left: 15px;
}
img.righticon:after
{
	clear: right;
}


	header 
	{
		height: 70px;
	}

	header #logo, #egobox a img
	{
		margin: 0;
		padding: 0;		
		border: none !important;
	}
	
	header #logo, header #logolink, header nav, header #slogan
	{
		float: left;
	}

	header #logo:hover
	{
		/* roatate my logo :o */
		-moz-transform: rotate(7deg);
		-webkit-transform: rotate(7deg);
		-o-transform: rotate(7deg);
		-ms-transform: rotate(7deg);
	}
	
	header nav
	{
		display: inline;
		margin-left: 15px;
	}
	
	#slogan
	{
		padding: 0;
		margin: 0;
		margin-left: 20px;
		margin-top: 10px;
		font-style: italic;
		color: #263961;
		font: 18px 'Reenie Beanie', arial, serif;
	}

.infobox
{
	background-color: #F2FFE1;
	border: 1px solid #83D13D;
	margin: 5px 0;
	padding: 5px;
	
	/* rounded corners */
    -moz-border-radius: 2px; /* Firefox */     
    -webkit-border-radius: 2px; /* Safari, Chrome */     
    -khtml-border-radius: 2px; /* Konqueror */;
    border-radius: 2px /* opera */;
}
.infobox a
{
	color: #666;
}
a.homelink
{
	padding-left: 20px;
	background: url(http://ganz-sicher.net/blog/images/icons/homelink.png);
	background-repeat: no-repeat;
}
a.packagelink
{
	padding-left: 20px;
	background: url(http://ganz-sicher.net/blog/images/icons/packagelink.png);
	background-repeat: no-repeat;
}
a.folderlink
{
	padding-left: 20px;
	background: url(http://ganz-sicher.net/blog/images/icons/folderlink.png);	
	background-repeat: no-repeat;
}
a.scriptlink
{
	padding-left: 20px;
	background: url(http://ganz-sicher.net/blog/images/icons/scriptlink.png);	
	background-repeat: no-repeat;
}
a.imagelink
{
	padding-left: 20px;
	background: url(http://ganz-sicher.net/blog/images/icons/imagelink.png);	
	background-repeat: no-repeat;
}
.info
{
	padding-left: 20px;
	background: url(http://ganz-sicher.net/blog/images/icons/info.png);	
	background-repeat: no-repeat;
}
	
.video
{
	margin: 5px;
	display: block;
}
	
#clearer
{
	clear: both;
}

div.imageinfo
{
	text-align: center; 
	font-size: xx-small;
}


#flattrhome
{
   position: relative;
   float: right;
   bottom: 25px;
}
#socialbuttons
{
   float: right;
}
#soctialbuttons:after{
   clear:right;
}


/* bottom of page */
#bottomnotes {
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: black;
    height: 110px;
    opacity: 0.6;
    border-top: 3px solid grey;
    border-bottom: 3px solid grey;
    font-family: 'Muli', sans-serif;
	overflow: hidden;
}
#projektbox {
    float: left;
    color: white;
    text-align: left;
    padding: 5px;
    margin-left: 45px;
}

#projektbox h1 {
    -moz-transform: rotate(-85deg);            
    -webkit-transform: rotate(-85deg);   
    -o-transform: rotate(-85deg);   
    -ms-transform: rotate(-85deg);
    display: inline-table;
    position: relative;
    right: 75px;
    top: 43px;
    font-size: 12px;
}
#projektbox a {
    color: white;
}

#jswarning
{
	background: none repeat scroll 0 0 whitesmoke;
    border: 2px solid #CCCCCC;
	color: red;
	font-size: 15px;
	padding: 5px;
	width: 500px;
}


/* Sitesearch */ 
#query {
    background-image: url("http://ganz-sicher.net/blog/images/icons/search.png");
    background-position: 2px center;
    background-repeat: no-repeat;
    border: 1px solid #CBD0D5;
    color: gray;
    float: right;
    margin: 2px 2px 0 0;
    padding: 1px 3px 1px 24px;
    width: 200px;
    display: none;
}

#searchresults
{
	display: none;
	margin: 15px 0 35px 0;
	display: none;
	border: 1px solid yellowGreen;
	padding: 5px;
	background: whitesmoke;
}

#searchtitle
{
	color: #ccc;
	text-shadow: 1px 1px white;
	float: right;
}


/* Archive site filter-search */ 
#searchText {
  line-height:22px;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25) inset;
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25) inset;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25) inset;
  border: 1px solid #ccc;
  color: #999;
  padding: 2px;
  margin: 5px 15px 20px 0;
  width: 350px;
}

.match {
  background-color: #f9ffa1;
  -webkit-animation-name: pop;
  -webkit-animation-duration: 0.3s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;    
}

/**** Speech Bubble Icons *****/
/* from goo.gl/rOGBe - thanks! */

.spch-bub-inside {
  position: relative;
  float: right;
  display: none;
}
.spch-bub-inside em {
  font-style: normal;
}
.spch-bub-inside em {
  background: #ccc;
  color: #FFF;
  padding: 0 0.4em;
  -moz-border-radius: 0.25em;
  -webkit-border-radius: 0.25em;
  border-radius: 0.25em;
  position: relative;
}
.spch-bub-inside em a, .spch-bub-inside em a:link, .spch-bub-inside em a:hover, .spch-bub-inside em a:visited
{
	color: white;
}
.spch-bub-inside .point {
  width: 0;
  height: 0;
  position: absolute;
  top: 1.1em;
  left: 0.4em;
  display: block;
  border-left: 0.45em solid #ccc; 
  border-bottom: 0.45em solid #FFF; /* IE fix */
  border-bottom: 0.45em solid rgba(0,0,0,0); 
  overflow: hidden; /* IE fix */
}

