---
layout: default
title: Ganz-Sicher.net Blog!
---

<div id="home">
  <div class="nicehead"><span class="nice">Recent Blog Posts</span> <span class="niceinfo">(German)</span></div>

    {% for post in site.posts limit:5 %}
    <div class="blogexcerpt">
    <div><a class="bighead" href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a> <span class="date">{{post.date | date:"%d.%m.%Y"}}</span></div>
      {{ post.content | postmorefilter }}
      <div><a class="readmore" href="{{ site.baseurl }}{{ post.url }}">weiterlesen...</a></div>
      </div> 
    {% endfor %}

	<div class="nicehead"><span class="nice">Die letzen 25 Artikel</span> <span class="niceinfo">(Textlinks)</span></div>
	<ul class="posts">
    {% for post in site.posts limit:25 %}
      <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{site.baseurl}}{{ post.url }}">{{ post.title }}</a> <span class="niceinfo" style="color: #dedede;">#{{ post.category }}</span></li>
    {% endfor %}
	</ul>
	<div id="archivehighlight"><span>Blog-Archiv</span> &raquo; <a href="archive.html" style="color: darkblue;">Alle Blogbeiträge zeigen</a></div>		

</div>
