<!-- jquery event handler -->
<script  type="text/javascript">
        /* cleanup-button: hide everything but content */
        $('#cleanup').click(function() {
                $("#egobox").hide();
                $("#toolbox").hide();
                $(".site").css("border", "none");
                $(".site").css("box-shadow", "none");
                $("body").css("background", "white");
                $("#commentarea").hide();
                $("#slogan").hide();
                $("nav").hide();
                $(".footer").hide();
        });
</script>

